{% extends 'admin/adminBase.html.twig' %}

{% block header %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#logout").click(function () {
            $.ajax({
                url: '/logout',
                type: 'GET',
                dataType: false,
                success: function () {
                    location.reload();
                    $.ajax({
                        url: "/",
                        type: "GET",
                        dataType: false
                    });
                }
            });
        });

        function loadNotification() {
            $.ajax({
                url: '/notifications',
                type: 'GET',
                dataType: false,
                success: function (data) {
                    $("#notificationDropdown").html(data);
                }
            });
        }

    });
</script>
{% endblock header %}

{% block title %}Manage Account{% endblock title %}

{% block navbar %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-bell"></i>
    </a>
    <ul class="dropdown-menu" id="notificationDropdown" aria-labelledby="navbarDropdown">
    </ul>
</li>
<li class="nav-item">
    <a href="/admin" class="nav-link active">Profile</a>
</li>
<li class="nav-item">
    <a href="" class="nav-link active" id="logout">Log Out</a>
</li>
{% endblock navbar %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.body.style.overflow = "hidden";
    //var onlyOnce = true;
    $(document).ready(function () {
        // alert("it works");
        $("#saveChanges").prop('disabled', true);
        $("#created").prop('disabled', true);
        $("#edited").prop('disabled', true);
        $("#type").prop('disabled', true);
        $("#likes").prop('disabled', true);
        document.getElementById("likes").value = 'likes';
        $('#flashMessage').fadeIn().delay(2000).fadeOut();

        var onlyOnce = true; // functions using this only occur once
        // enable saving on input change
        $("input").keyup(function () {
            if (onlyOnce == true) {
                $("#saveChanges").prop('disabled', false);
                onlyOnce = false;
            }
        });
        //enable saving on selector change
        $("select").on('change', function () {
            if (onlyOnce == true) {
                $("#saveChanges").prop('disabled', false);
                onlyOnce = false;
            }
        });

        //enable saving on selector change
        $("#selectImage").click(function () {
            if (onlyOnce == true) {
                $("#saveChanges").prop('disabled', false);
                onlyOnce = false;
            }
        });
    });
</script>

<div class="container-fluid fill col-6 text-center">
    {% if selectedUser.middleName %}
    <h1>Manage <span class="text-primary">{{ selectedUser.type }}</span> <span class="text-primary">{{
            selectedUser.firstName ~ " " ~ selectedUser.middleName ~ " " ~ selectedUser.lastName }}</span></h1>
    {% endif %}
    {% if not selectedUser.middleName %}
    <h1>Manage <span class="text-primary">{{ selectedUser.type }}</span> <span class="text-primary">{{
            selectedUser.firstName ~ " " ~ selectedUser.lastName }}</span></h1>
    {% endif %}
</div>
<div class="container-fluid vh-100">
    <div class="row justify-content-center vh-100">
        <div class="col-10 hidden-md-down bg-primary text-white">
            <div class="container-fluid col-8 justify-content-center text-center mt-5">
                <form method="post" enctype="multipart/form-data">
                    <!-- <span name="userId" value="{{ selectedUser.userId }}"></span> -->
                    <div class="table-responsive">
                        <table class="table table-light table-striped">
                            <tr>
                                <td>
                                    <span class="font-weight-bold font-italic">First Name: </span><input type="text"
                                        name="FN" id="FN" value="{{ selectedUser.firstName }}">
                                    <span>Middle Name: </span><input type="text" name="MN" id=""
                                        value="{{ selectedUser.middleName }}">
                                    <span>Last Name: </span><input type="text" name="LN" id=""
                                        value="{{ selectedUser.lastName }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Email: </span><input type="text" name="email" id=""
                                        value="{{ selectedUser.emailAddress }}">
                                    <span>Date of Birth: </span><input type="text" name="dob" id=""
                                        value="{{ selectedUser.dateofBirth|date(" d/m/Y") }}">
                                    <span>City: </span><input type="text" name="city" id=""
                                        value="{{ selectedUser.currentCity }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if selectedUser.profilePicturePath == null %}
                                    <input type="text" value="No Profile Picture" disabled> {# ask gregory monday about
                                    pic URL #}
                                    {% else %}
                                    <span>Picture: </span><img src="/uploads/{{selectedUser.profilePicturePath}}"
                                        width="75" alt="oops pic broke">
                                    {% endif %}
                                    <span>Password: </span><input type="text" name="pass" id=""
                                        placeholder="New Password If Desired">
                                    {% if selectedUser.profilePicturePath == null %}
                                    <span>Choose Picture: </span><input id="selectImage" type="file" name="image" />
                                    {% else %}
                                    <span>Update Picture: </span><input id="selectImage" type="file" name="image" />
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Account Status</h4>
                                    <span>Total Likes: </span><input type="text" name="likes" id="likes" value="">
                                    {% if selectedUser.isActive %}
                                    <!-- <span>Active: </span><input type="text" name="active" id="" value="Yes"> -->
                                    <label for="active">Active: </label><select name="accountActive" id="active">
                                        <option value="Yes" selected>Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                    {% else %}
                                    <!-- <span>Active: </span><input type="text" name="active" id="" value="No"> -->
                                    <label for="active">Active: </label><select name="accountActive" id="active">
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    </select>
                                    {% endif %}
                                    {% if selectedUser.isReported %}
                                    <!-- <span>Reported: </span><input type="text" name="reported" id="" value="Yes"> -->
                                    <label for="reported">Reported: </label><select name="accountReported"
                                        id="reported">
                                        <option value="Yes" selected>Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                    {% else %}
                                    <!-- <span>Reported: </span><input type="text" name="reported" id="" value="No"> -->
                                    <label for="reported">Reported: </label><select name="accountReported"
                                        id="reported">
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    </select>
                                    {% endif %}
                                    {% if selectedUser.isBanned %}
                                    <!-- <span>Banned: </span><input type="text" name="banned" id="" value="Yes"> -->
                                    <label for="banned">Banned: </label><select name="accountBanned" id="banned">
                                        <option value="Yes" selected>Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                    {% else %}
                                    {% if selectedUser.isReported %}
                                    <!-- <span>Banned: </span><input type="text" name="banned" id="" value="No"> -->
                                    <label for="banned">Banned: </label><select name="accountBanned" id="banned"
                                        style="border-color: red;">
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    </select>
                                    {% else %}
                                    <!-- <span>Banned: </span><input type="text" name="banned" id="" value="No"> -->
                                    <label for="banned">Banned: </label><select name="accountBanned" id="banned">
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected>No</option>
                                    </select>
                                    {% endif %}
                                    {% endif %}

                                    <label for="type">Type: </label><select name="type" id="type">
                                        <option value="{{ selectedUser.type }}" selected>{{ selectedUser.type }}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Created on: </span><input type="text" name="created" id="created"
                                        value="{{ selectedUser.createdAt|date(" d/m/Y") }}">
                                    <span>Last edited on: </span><input type="text" name="edited" id="edited"
                                        value="{{ selectedUser.updatedAt|date(" d/m/Y H:i:s", "America/New_York" ) }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-primary" id="saveChanges" type="submit">Save Changes to
                                        Account</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <!-- if there are reports, link appear to manage -->
            {% if selectedUser.isReported %}
            <div class="justify-content-center text-center mt-5">
                <a href="/admin/reports/user/{{ selectedUser.userId }}" class="btn btn-outline-light btn-lg px-5"
                    role="button" aria-pressed="true">Manage User Reports</a>
            </div>
            {% endif %}
            {# ALL THESE LINKS WILL NEED TO BE CHANGED AT IMPLEMENTATION #}
            <div class="justify-content-center text-center mt-5">
                <a href="/admin/manage" class="btn btn-outline-light btn-lg px-5" role="button"
                    aria-pressed="true">Return to User Management Overview</a>
            </div>
            <div class="justify-content-center text-center mt-5">
                <a href="/admin" class="btn btn-outline-light btn-lg px-5" role="button" aria-pressed="true">Return to
                    Overview</a>
            </div>
            {% if flashMessage %}
            <div id="flashMessage" class="text-center">
                <h1>{{ flashMessage }}</h1>
            </div>
            {% endif %}
            {% if errorList %}
            {% for error in errorList %}
            <h6 class="bg-white text-danger text-center p-1">
                <strong>{{ error }}</strong>
                <button onclick="this.parentElement.style.display='none'" type="button"
                    class="close align-right btn-primary" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </h6>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}