{% extends 'admin/adminBase.html.twig' %}

{% block header %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        
        $("#logout").click(function () {
            $.ajax({
                url: '/logout',
                type: 'GET',
                dataType: false,
                success: function () {
                    location.reload();
                    $.ajax({
                        url: "/",
                        type: "GET",
                        dataType: false
                    });
                }
            });
        });

        function loadNotification() {
            $.ajax({
                url: '/notifications',
                type: 'GET',
                dataType: false,
                success: function(data) {
                    $("#notificationDropdown").html(data);
                }
            });
        }
        
    });
</script>
{% endblock header %}

{% block title %}User Management{% endblock title %}

{% block navbar %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-bell"></i>
    </a>
    <ul class="dropdown-menu" id="notificationDropdown" aria-labelledby="navbarDropdown">
    </ul>
</li>
<li class="nav-item">
    <a href="/admin" class="nav-link active">Profile</a>
</li>
<li class="nav-item">
    <a href="" class="nav-link active" id="logout">Log Out</a>
</li>
{% endblock navbar %}

{% block content %}

<div class="container-fluid fill col-6 text-center">
    <h1>User Management Overview</h1>
</div>
<div class="container-fluid vh-100">
    <div class="row justify-content-center vh-100">
        <div class="col-10 hidden-md-down bg-primary text-white">
            <div class="row justify-content-center text-center">
                <div class="table-responsive p-0">
                <table class="table table-hover table-light table-striped table-bordered w-100">
                    <tr>
                        <th style="width: 5%;">User Id</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>DoB</th>
                        <th>City</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Picture</th>
                        <th>Active</th>
                        <th>Reported</th>
                        <th>Banned</th>
                        <th>Created At</th>
                        <th>Last Updated</th>
                        <th>User Type</th>
                        <th>Edit User</th>
                    </tr>
                    {% for u in userList %}
                        <tr id="userRow{{u.userId}}">
                            <td class="userId">{{u.userId}}</td>
                            <td>{{u.firstName}}</td>
                            <td>
                                {% if u.middleName == null %}
                                    -
                                {% endif %}
                                {% if u.middleName != null %}
                                    {{u.middleName}}
                                {% endif %}
                            </td>
                            <td>{{u.lastName}}</td>
                            {# <td>{{u.dateofBirth|format_datetime('short', 'none', locale='en')}}</td> #}
                            <td>{{u.dateofBirth|date("d/m/Y")}}</td>
                            <td>
                                {% if u.currentCity == null %}
                                    None
                                {% endif %}
                                {% if u.currentCity != null %}
                                    {{u.currentCity}}
                                {% endif %}
                            </td>
                            <td>{{u.emailAddress}}</td>
                            <td>********</td>
                            <td>
                                {% if u.profilePicturePath == null %}
                                    No
                                {% else %}
                                    Yes
                                {% endif %}
                            </td>
                            <td>
                                {% if u.isActive == 1 %}
                                    Yes
                                {% endif %}
                                {% if u.isActive == 0 %}
                                    No
                                {% endif %}
                            </td>
                            <td>
                                {% if u.isReported == 1 %}
                                    Yes
                                {% endif %}
                                {% if u.isReported == 0 %}
                                    No
                                {% endif %}
                            </td>
                            <td>
                                {% if u.isBanned == 1 %}
                                    Yes
                                {% endif %}
                                {% if u.isBanned == 0 %}
                                    No
                                {% endif %}
                            </td>
                            <td>{{u.createdAt|date("d/m/Y H:i", "America/New_York")}}</td>
                            <td>{{u.updatedAt|date('d/m/Y H:i', "America/New_York")}}</td>
                            <td>
                                {% if u.type == null %}
                                    None
                                {% endif %}
                                {% if u.type != null %}
                                    {{u.type}}
                                {% endif %}
                            </td>
                            <td>
                                <a href="/admin/manage/user/{{ u.userId }}" class="btn btn-primary" role="button" aria-pressed="true">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
            {# ALL THESE LINKS WILL NEED TO BE CHANGED AT IMPLEMENTATION #}
            <div class="justify-content-center text-center mt-5">
                <a href="/admin" class="btn btn-outline-light btn-lg px-5" role="button" aria-pressed="true">Return to Overview</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}