{% extends 'admin/adminBase.html.twig' %}

{% block header %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#logout").click(function () {
            $.ajax({
                url: '/logout',
                type: 'GET',
                dataType: false,
                success: function () {
                    location.reload();
                    $.ajax({
                        url: "/",
                        type: "GET",
                        dataType: false
                    });
                }
            });
        });

        function loadNotification() {
            $.ajax({
                url: '/notifications',
                type: 'GET',
                dataType: false,
                success: function(data) {
                    $("#notificationDropdown").html(data);
                }
            });
        }
        
    });
</script>
{% endblock header %}

{% block title %}Admin Home{% endblock title %}

{% block navbar %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-bell"></i>
    </a>
    <ul class="dropdown-menu" id="notificationDropdown" aria-labelledby="navbarDropdown">
    </ul>
</li>
<li class="nav-item">
    <a href="/admin" class="nav-link active">Profile</a>
</li>
<li class="nav-item">
    <a href="/logout" class="nav-link active" id="logout">Log Out</a>
</li>
{% endblock navbar %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<div class="container-fluid fill col-6 text-center">
    <h1>Welcome, Administrator 
        <span class="text-primary" id="userName">
            Adminman the Admin 
            {# {% if selectedUser.middleName %} CHANGE BACK AFTERWARDS
                {{ currentUser.firstName }} {{ currentUser.middleName }} {{ currentUser.lastName }}
            {% else %}
                {{ currentUser.firstName }} {{ currentUser.lastName }}
            {% endif %} #}
        </span>
    </h1>
</div>
<div class="container-fluid vh-100">
    <div class="row justify-content-center vh-100">
        <div class="col-10 hidden-md-down bg-primary text-white">
            <div class="justify-content-center text-center">
                <h4>User Reports Overview</h4>
                <div class="w-50 mx-auto bg-white">
                    <canvas id="chart"></canvas>
                </div>
            </div>
            <div class="justify-content-center text-center mt-5">
                <a href="/admin/profile/{{ currentUser.userId }}" class="btn btn-outline-light btn-lg px-5" role="button" aria-pressed="true">My Profile</a>
            </div>
            <div class="justify-content-center text-center mt-5">
                <a href="/admin/reports" class="btn btn-outline-light btn-lg px-5" role="button" aria-pressed="true">Review Reports</a>
            </div>
            <div class="justify-content-center text-center mt-5">
                <a href="/admin/manage" class="btn btn-outline-light btn-lg px-5" role="button" aria-pressed="true">Manage Users</a>
            </div>
            {# <div class="justify-content-center text-center mt-5">
                <a href="/" class="btn btn-outline-light btn-lg px-5" role="button" aria-pressed="true">Return to main Index</a>
            </div> #}
        </div>
    </div>
</div>
<script>
    document.body.style.overflow = "hidden";
    /*
    $.getJSON('graphData.php', function(data) {
        var labels = data.users[0].userId.map(function(e) {
           return e[0];
        });
        var data = data.users[0].isReported.map(function(e) {
           return e[1];
        });
     
        var ctx = document.getElementById('chart').getContext('2d');
        var chart = new Chart(ctx, {
           type: 'line',
           data: {
              labels: labels,
              datasets: [{
                 backgroundColor: 'rgb(129, 198, 2228)',
                 borderColor: 'rgb(0, 150, 215)',
                 data: data
              }]
           },
           options: {
              responsive: 'true',
           }
        });
    });*/
    // I tried SO MANY SOLUTIONS here. It's a static result here, but there's data in graphData.php to use
    // tried to assign it using a variety of tutorials, etc
    var ctx = document.getElementById('chart').getContext('2d');
    var xlabels = [];
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Serge', 'Reporter','Prolific', 'Testuserfn', 'Testusertwo','John','AdminMan','Mean','Bad'],
            datasets: [{
                label: '33% of Users have reports',
                data: [1,0,0,0,0,0,0,1,1],
                backgroundColor: ['rgba(29, 164, 231, 1)','rgba(29, 164, 231, 1)','rgba(29, 164, 231, 1)','rgba(29, 164, 231, 1)','rgba(29, 164, 231, 1)','rgba(29, 164, 231, 1)','rgba(29, 164, 231, 1)','rgba(29, 164, 231, 1)','rgba(29, 164, 231, 1)','rgba(29, 164, 231, 1)']
            }]
        },
        options: {
            scales: {
                yAxes: [{scaleLabel: {
                    display: true,
                    labelString: 'Reported'
                  },
                    ticks: {
                        display: false
                    }
                }]
            }
        }
    });
</script>
{% endblock content %}