<li class="nav-item dropdown ms-auto w-100">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-bell"></i>{% if notificationList|length > 0 %}<span class="badge bg-danger">{{
            notificationList|length }}</span>
        {% endif %}
    </a>
    <ul class="dropdown-menu dropdown-menu-end" id="notificationDropdown" aria-labelledby="navbarDropdown">
        {% if notificationList %}
        {% for notification in notificationList %}
        <li class="dropdown-item  d-flex flex-row">
                <img class="align-self-center rounded-circle" alt="" src="uploads/{{ notification.profilePicturePath }}"
                    width="30" height="30">
                <a href="" class="p-2 text-decoration-none">{{ notification.firstName }}{{ notification.middleName == "" ? " " : notification.middleName }}{{
                    notification.lastName }} {{ notification.type == 'like' ? "liked" : "commented on" }} your post!</a>
        </li>
        <li class="dropdown-divider"></li>
        {% endfor %}
        {% else %}

        {% endif %}
    </ul>
</li>