{% extends 'base.html.twig' %}

{% block header %}
<link rel="stylesheet" href="/templates/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        loadUserFeed();
        var loaded = false;

        $("#submitPostInput").keyup(function () {
            if ($(this).val() != '') {
                $("#postSubmitButton").prop('disabled', false);
            } else {
                $("#postSubmitButton").prop('disabled', true);
            }
        });

        $("#logout").click(function () {
            $.ajax({
                url: '/logout',
                type: 'GET',
                dataType: false
            }).done(function () {
                location.reload();
            });
        });


        $("#postSubmission").submit(function (e) {
            e.preventDefault();

            var fd = new FormData(this);

            $.ajax({
                url: '/submitPost',
                type: 'POST',
                data: fd,
                contentType: false,
                processData: false,
                error: function () {
                    alert("File too big");
                }
            }).done(function () {
                loaded = false;
                location.reload();
                loadUserFeed();
            });
        });

        function loadUserFeed() {
            if (loaded) return;
            $.ajax({
                url: '/feedProfile',
                type: 'GET',
                dataType: false,
                success: function (data) {
                    $("#userFeed").html(data);
                    loadNotifications();
                }
            });
            loaded = true;
        }

        function loadNotification() {
            $.ajax({
                url: '/notifications',
                type: 'GET',
                dataType: false,
                success: function (data) {
                    $("#notificationDropdown").html(data);
                }
            });
        }

        function likePost(id) {
            $.ajax({
                url: '/post/' + id + '/like',
                type: 'PATCH',
                dataType: false
            });
        }

        function commentPost(id) {
            var content = $('#commentArea' + id).val();

            var commentObj = { postId: id, content: content };
            var jsonStr = JSON.stringify(commentObj);
            $.ajax({
                url: '/post/comment',
                type: 'post',
                data: jsonStr,
                dataType: 'json'
            })
        }

        function reportPost(id) {
            $.ajax({
                url: '/post/' + id + '/report',
                type: 'POST',
                dataType: false
            });
        }

        function reportComment(id) {
            $.ajax({
                url: '/comment/' + id + '/report',
                type: 'POST',
                dataType: false
            });
        }

        function loadNotifications() {
            $.ajax({
                url: '/notifications',
                type: 'GET',
                dataType: false,
                success: function (data) {
                    $("#notificationDropdown").html(data);
                }
            });
        }

    });

</script>
{% endblock header %}

{% block title %}Profile Overview{% endblock title %}

{% block navbar %}
<div id="notificationDropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-bell"></i>
    </a>
</div>
<li class="nav-item">
    <a href="/user" class="nav-link active">Profile</a>
</li>
<li class="nav-item">
    <a href="" class="nav-link active" id="logout">Log Out</a>
</li>
{% endblock navbar %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<div class="container-fluid fill col-6 text-center">
    <h1>Welcome,
        <span class="text-primary" id="userName">
            {% if selectedUser.middleName %}
            {{ currentUser.firstName }} {{ currentUser.middleName }} {{ currentUser.lastName }}
            {% else %}
            {{ currentUser.firstName }} {{ currentUser.lastName }}
            {% endif %}
        </span>
    </h1>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 hidden-md-down text-white">
            <div class="row">
                <div class="justify-content-center col-3 bg-primary">
                    <div class="text-center mt-5">
                        <a href="/user/manage/{{currentUser.userId}}" class="btn btn-outline-light btn-lg p-2"
                            style="width: 100%;" role="button" aria-pressed="true">My Profile</a>
                    </div>
                    <div class="text-center mt-5">
                        <a href="/user/comments/{{currentUser.userId}}" class="btn btn-outline-light btn-lg p-2"
                            style="width: 100%;" role="button" aria-pressed="true">View my Comments</a>
                    </div>
                    <div class="text-center mt-5">
                        <a href="/" class="btn btn-outline-light btn-lg p-2 btn-block btn-cust" style="width: 100%;"
                            role="button" aria-pressed="true">Return to main Feed</a>
                    </div>
                </div>
                <div class="col-9 container mb-4" id="#feedContainer" style="max-width: 60%;">
                    <div class="card" id="submitPost">
                        <div class="card-header bg-primary p-2">
                            <h6 for="submitPostInput" class="text-light">Post Something!</h6>
                        </div>
                        <div class="card-body">
                            <form method="post" id="postSubmission" enctype="multipart/form-data">
                                <textarea id="submitPostInput" rows="3" class="form-control" name="content"></textarea>
                                <input type="file" name="file" id="file" class="form-control">
                                <button class="btn btn-primary mt-2" type="submit" id="postSubmitButton"
                                    disabled>Submit</button>
                            </form>
                        </div>
                        <div class="card-footer bg-primary">
                        </div>
                    </div>
                    <div id="userFeed">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}