{% extends 'base.html.twig' %}

{% block title %}My Posts{% endblock title %}

{% block content %}
<!-- THIS PAGE IS DEPRECATED -->
<!-- WE WERE INITIALLY GOING TO HAVE SEPARATE POSTS FROM THE FEED -->
<div class="container-fluid fill col-6 text-center">
    <h1>My Posts</h1>
</div>
<div class="container-fluid vh-100">
    <div class="row justify-content-center vh-100">
        <div class="col-10 hidden-md-down bg-primary text-white">
            <div class="row justify-content-center text-center">
                <div class="table-responsive p-0">
                <table class="table table-light table-striped table-bordered table-hover">
                    <tr>
                        <th>Post Content</th>
                        <th style="width: 5%;">Likes</th>
                        <th>Created</th>
                        <th style="width: 5%;">View Post</th>
                    </tr>
                    {% for p in userPosts %}
                    <tr>
                        <td>{{ p.content }}</td>
                        <td>{{ p.likes }}</td>
                        <td>{{ p.createdAt|date("d/m/Y") }}</td>
                        <td>
                            fix link
                            <a href="/thenetwork/admin/manage/user/{{ u.userId }}" class="btn btn-primary" role="button" aria-pressed="true">Go</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Wow a post example</td>
                        <td>50</td>
                        <td>dd/mm/yyyy</td>
                        <td>
                            <a href="#" class="btn btn-primary" role="button" aria-pressed="true" aria-disabled="true">Go</a>
                        </td>
                    </tr>
                    <tr>
                        <td>another post example</td>
                        <td>20</td>
                        <td>dd/mm/yyyy</td>
                        <td>
                            <a href="#" class="btn btn-primary" role="button" aria-pressed="true" aria-disabled="true">Go</a>
                        </td>
                    </tr>
                </table>
                </div>
                {# ALL THESE LINKS WILL NEED TO BE CHANGED AT IMPLEMENTATION #}
                <div class="justify-content-center text-center mt-5">
                    <a href="/user" class="btn btn-outline-light btn-lg px-5" role="button" aria-pressed="true">Return to Profile Overview</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}